@using BlogData
@using BlogWeb
@model BlogWeb.Models.ArticleListModel

@section HeaderMeta {
    @Html.Partial("Controls/HeaderMeta", Model.AppModel)
}


@section MainBody {
    
    <div class="col-sm-8" style="">
        @foreach (BlogData.Article post in Model.Articles)
        {
            <div class="postWrap">
                <div class="postDate  @post.PrimaryCategory-Date"><div>@post.CreatedDate.Day</div><span class="date">@post.CreatedDate.ToString("MMM")</span></div>
                <div class="post">
                    <h4><a href="Article/@post.URLLink">@post.Name</a></h4>
                    <p>@Html.Raw(post.ListItemContent) </p> <a href="Article/@post.URLLink">Read Full Post</a>
                    <div class="tags">
                        <div style="float: left; font-weight: bold; margin-right: 20px;">
                            TAGS
                        </div>
                        <div>
                            @foreach (BlogData.ArticleTag tag in post.ArticleTags)
                            {
                                <a href="">@tag.Tag.TagName</a> @:| 
                            }
                        </div>
                    </div>
                    <div class="additionalLists">
                        <div class="col-sm-4 listItem">
                            <h6>Comments</h6>
                            <span>@post.ArticleComments.Count</span>
                        </div>
                        <div class="col-sm-4 listItem">
                            <h6>Header Title</h6>
                            <span>more infor and stuff</span>
                        </div>
                        <div class="col-sm-4 listItem">
                            <h6>Ttile of Header</h6>
                            <span>hey,c heck this oaut </span>
                        </div>
                    </div>
                </div>
            </div>
        }

        @*<div class="postWrap">
            <div class="postDate"><div>8</div><span class="date">DEC</span></div>
            <div class="post">
                <h4>Post Title and Things and stuff and THINGS</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                
                <div class="tags">
                    <div style="float: left; font-weight: bold; margin-right: 20px;">
                        TAGS
                    </div>
                    <div>
                        <a href="">tag</a> | <a href="">tagfea</a> | <a href="">fads adad </a> | <a href="">doood, what?</a>
                    </div>
                </div>
                <div class="additionalLists">
                    <div class="col-sm-4 listItem">
                        <h6>Comments</h6>
                        <span>65</span>
                    </div>
                    <div class="col-sm-4 listItem">
                        <h6>Header Title</h6>
                        <span>more infor and stuff</span>
                    </div>
                    <div class="col-sm-4 listItem">
                        <h6>Ttile of Header</h6>
                        <span>hey,c heck this oaut </span>
                    </div>
                </div>
            </div>
        </div>*@

    </div>

}

@section RightSide {

    <div class="col-sm-4" style="background-color: white; padding: 0px;">
        <div class="sideItem" style="height: 50px; background-color: grey;">
            <div class="col-sm-9" style="border: solid 1px black;">
                News Letter Sign Up
            </div>
            <div class="col-sm-3">
                RSS
            </div>
        </div>
        <div class="sideFiller"></div>
        <div class="sideItem" id="trendingPosts">
            <h3>Trending Posts</h3>
            <ul>
                @foreach (sp_GetTrendingPosts_Result post in Model.TrendingPosts)
                {
                    <li><a href="@post.URL">@post.ArticleName</a></li>
                }
            </ul>
        </div>
        <div class="sideFiller"></div>
        <div class="sideItem" id="sideItemTags">
            @*<h2>Tags</h2>*@
            <ul>
                <li class="navArrow">&#9668;</li>
                @foreach (Category cat in Model.AllTags.Select(at => at.Category).Distinct())
                {
                    if (Model.AllTags.Select(at => at.Category).First() == cat)
                    {
                        <li class="tagCat"><h3>@cat.CategoryName</h3></li>
                    }
                    else
                    {
                        <li class="tagCat" style="display: none;"><h3>@cat.CategoryName</h3></li>
                    }
                }
                <li class="navArrow" direction="right">&#9658;</li>
            </ul>

            @{ int indexItemIndex = 0; }
            @foreach (Category cat in Model.AllTags.Select(at => at.Category).Distinct())
            {

                    if (indexItemIndex >= 1)
                    {
                        <div class="tagCatList" style="display: none;">
                            @foreach (Tag tag in Model.AllTags.Where(at => at.CategoryId == cat.CategoryRowId).Select(at => at.Tag))
                            {
                                <a href="">@tag.TagName</a>
                                @:|
                            }
                        </div>
                    }
                    else
                    {
                        <div class="tagCatList">
                            @foreach (Tag tag in Model.AllTags.Where(at => at.CategoryId == cat.CategoryRowId).Select(at => at.Tag))
                            {
                                <a href="">@tag.TagName</a>
                                @:|
                            }
                        </div>
                }
                indexItemIndex++;
            } 
                
        </div>
    </div>
}
